$old-computer-text: #66ff66;
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    & > input {
      text-align: center;
    }

    & > button {
      background-color: transparent;
      font-family: hello;
      border: 2px solid $old-computer-text;
      color: $old-computer-text;
      padding: 5px;
      margin: 10px;
      text-shadow: 0 0 5px #c8c8c8;
      box-shadow: 0 0 5px #c8c8c8;
    }
  }
  &-img {
    height: 30px;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0 0 5px #c8c8c8;
  }

  &-recover {
    text-decoration: none;
    color: $old-computer-text;
  }
}
